{% extends "base.html" %}

{% block content %}
{{ super() }}
    
<!-- <div id="statistics" class="card" style="width: 27em; border-color: transparent; opacity: 0; font-size: 75%">
    <div style="padding-left: 1em;">
        页面总数：<span id="total-pages"></span><br>
        总字数：<span id="total-words"></span><br>
        代码块行数：<span id="code-lines"></span><br>
        网站运行时间：<span id="web-time"></span>
    </div>
</div>

<div class="mac-content-container"></div>
    <div class="mac-content-block">
      <span class="mac-content-label">本文总阅读量:</span>
      <span id="busuanzi_value_page_pv"></span>次
</div> -->

{% endblock %}

{% block scripts %}
{{ super() }}
{% endblock %}